@use "../../libs/variables.scss";
@use "../../libs/mixins.scss";

.about-us__container {
  @include mixins.mobile {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @include mixins.tablet {
    padding-top: 60px;
    padding-bottom: 41px;
  }

  @include mixins.desktop {
    padding-top: 68px;
    padding-bottom: 84px;
  }
}

.about-us__title {
  @include mixins.header-2;

  @include mixins.mobile {
    margin-bottom: 28px;
  }

  @include mixins.tablet {
    margin-bottom: 41px;
  }

  @include mixins.desktop {
    margin-bottom: 40px;
  }
}

.about-us__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;

  @include mixins.mobile {
    gap: 24px;
  }

  /*@include mixins.tablet {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 135px;
    row-gap: 37px;
    margin-right: 75px;
  }

  @include mixins.desktop {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 78px;
    margin-right: 0;
  }*/
}

.about-us__item {
  display: grid;
  justify-items: start;
  position: relative;

  @include mixins.mobile {
    gap: 21px;
  }

  @include mixins.tablet {
    grid-template-columns: auto;
    gap: 31px;
    min-height: 280px;
    padding: 40px 0;
    align-content: start;
  }

  @include mixins.desktop {
    gap: 32px;
    padding-top: 32px;
  }

  &::before {
    content: "";
    display: block;
    width: 55px;
    height: 38px;
    background-size: initial;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--sheet::before {
    background-image: url("../img/work-sheet.svg");
  }

  &--flask::before {
    background-image: url("../img/work-flask.svg");
  }

  &--cutlery::before {
    background-image: url("../img/work-cutlery.svg");
    background-size: auto 53%;
  }

  &--watch::before {
    background-image: url("../img/work-watch.svg");
  }
}
