@use "../../libs/variables.scss";
@use "../../libs/mixins.scss";

.accompaniment {
  overflow-x: hidden;
}

.accompaniment__container {
  position: relative;

  @include mixins.mobile {
    margin-top: 24px;
    margin-bottom: 35px;
  }

  @include mixins.tablet {
    margin-top: 34px;
    margin-bottom: 76px;
  }

  @include mixins.desktop {
    margin-top: 37px;
    margin-bottom: 86px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.accompaniment__title {
  @include mixins.title;

  @include mixins.mobile {
    margin-bottom: 34px;
  }

  @include mixins.tablet {
    margin-bottom: 80px;
    margin-left: 0;
  }

  @include mixins.desktop {
    margin-bottom: 79px;
    margin-left: -40px;
  }
}

.accompaniment__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;

  @include mixins.desktop {
    grid-column: 1 / 4;
  }
}

.accompaniment__item {
  display: grid;

  &:last-child {
    border-bottom: 1px solid variables.$special-grey-light;
  }

  @include mixins.mobile {
    padding-top: 12px;
    padding-bottom: 19px;
    row-gap: 15px;
    border-top: 1px solid variables.$special-grey-light;
  }

  @include mixins.tablet {
    padding: 25px 37px 28px 37px;
    border: 1px solid variables.$special-grey-light;
    border-bottom: none;
    grid-template-columns: 1fr 1fr;
    row-gap: 21px;
    column-gap: 60px;
    align-items: end;
  }

  @include mixins.desktop {
    border: none;
    border-top: 1px solid variables.$special-grey-light;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 80px;
    align-items: center;
  }
}

.accompaniment__item-title {
  @include mixins.header-4;

  @include mixins.mobile {
    line-height: 100%;
    text-align: left;
    margin-bottom: -2px;
  }

  @include mixins.tablet {
    line-height: 100%;
    text-align: left;
    margin-bottom: 4px;
  }

  @include mixins.desktop {
    margin-bottom: 3px;
  }
}

.accompaniment__button {
  @include mixins.tablet {
    grid-column: 1 / -1;
  }

  @include mixins.desktop {
    grid-column: auto;
    margin-left: 1px;
  }
}

.accompaniment__dl {
  @include mixins.paragraph;
  display: grid;
  column-gap: 10px;
  color: variables.$special-grey-dark;

  & dd {
    margin: 0;
  }

  @include mixins.mobile {
    line-height: 100%;
    grid-template-columns: auto min-content;
  }

  @include mixins.tablet {
    line-height: 20px;
    text-align: left;
    grid-template-columns: auto 84px;
    margin-top: 4px;

    & > * {
      text-align: right;
    }
  }

  @include mixins.desktop {
    grid-template-columns: auto 70px;
    margin-right: -70px;
    margin-top: 6px;

    & > * {
      text-align: left;
    }
  }
}

.accompaniment__present {
  background-repeat: no-repeat;
  background-color: #4f4f54;
  background-image: url("../img/pesent-back@1x.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  color: variables.$white;
  display: flex;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/pesent-back@2x.jpg");
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: variables.$basic-green;
    opacity: 0.85;
  }

  & > * {
    position: relative;
    z-index: 1;
  }

  @include mixins.mobile {
    min-height: 289px;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    padding-top: 65px;
    padding-bottom: 43px;
    margin-top: 35px;
  }

  @include mixins.tablet {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 65px 124px 69px 88px;
    margin-top: 68px;
    background-image: url("../img/pesent-back-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/pesent-back-tablet@2x.jpg");
    }
  }

  @include mixins.desktop {
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    padding-top: 62px;
    padding-bottom: 42px;
    margin: 0;
    background-image: url("../img/pesent-back@1x.jpg");
    min-height: 288px;
    background-position: center right;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/pesent-back@2x.jpg");
    }
  }
}

.accompaniment__present-image {
  @include mixins.mobile {
    width: 56px;
    height: 60px;
  }

  @include mixins.tablet {
    width: 60px;
    height: 63px;
  }

  @include mixins.desktop {
    width: 61px;
    height: 64px;
  }
}

.accompaniment__paragraph {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  max-width: 161px;
  padding-top: 6px;

  @include mixins.mobile {
    text-align: center;
    margin-top: auto;
  }

  @include mixins.desktop {
    text-align: center;
    margin-top: auto;
  }
}
