@use "../../libs/variables.scss";
@use "../../libs/mixins.scss";

.catalog {
  @include mixins.mobile {
    margin: 0 30px;
  }

  @include mixins.tablet {
    padding-top: 67px;
    padding-bottom: 53px;
  }

  @include mixins.desktop {
    padding-top: 111px;
    padding-bottom: 57px;
  }
}

.catalog__card-image {
  display: block;

  @include mixins.mobile {
    width: 260px;
    height: 195px;
  }

  @include mixins.tablet {
    width: 334px;
    height: 334px;
  }

  @include mixins.desktop {
    width: 316px;
    height: 462px;
  }
}
