@use "../../libs/variables.scss";
@use "../../libs/mixins.scss";

.contacts {
  display: grid;

  @include mixins.mobile {
    gap: 30px;
  }

  @include mixins.tablet {
    grid-template-columns: auto 50%;
    gap: 30px;
  }

  @include mixins.desktop {
    grid-template-columns: 1fr;
  }
}

.contacts__wrapper {
  display: grid;
  gap: 5px;
  color: variables.$special-grey-dark;

  @include mixins.mobile {
    font-size: 14px;
    line-height: 30px;
    grid-template-columns: 72px auto;
  }

  @include mixins.tablet {
    font-size: 17px;
    line-height: 30px;
    grid-template-columns: 73px auto;
  }

  & span {
    overflow-wrap: break-word;
  }
}

.contacts__contact {
  display: grid;
  gap: 5px;
  font: inherit;

  &--href {
    color: variables.$special-grey-dark;
    text-underline-offset: 5px;
    text-decoration-color: variables.$basic-green;

    &:hover {
      color: variables.$basic-green-dark;
      text-decoration-color: variables.$basic-green-dark;
    }

    &:active {
      color: variables.$basic-green-dark;
      text-decoration-color: rgba(variables.$basic-green-dark, 0.1);
    }

    @include mixins.desktop {
      text-underline-offset: 13px;
    }
  }
}
