@use "../../libs/variables.scss";
@use "../../libs/mixins.scss";
@use "../../libs/animation.scss";

.fit {
  @include mixins.mobile {
    margin: 10px 0;
  }

  @include mixins.tablet {
    margin: 0;
    margin-bottom: 45px;
  }

  @include mixins.desktop {
    margin-top: 82px;
    margin-bottom: 71px;
  }
}

.fit__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;

  @include mixins.mobile {
    gap: 20px;
  }

  @include mixins.tablet {
    gap: 30px;
  }

  @include mixins.desktop {
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
}

.fit__item {
  background-color: variables.$basic-gray;

  @include mixins.mobile {
    padding: 24px 20px;
    padding-bottom: 18px;
    display: grid;
    grid-template-columns: 50px auto;
    column-gap: 19px;
  }

  @include mixins.tablet {
    padding: 77px 316px 53px 52px;
    position: relative;
    min-height: 372px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:nth-child(2) {
      padding-right: 315px;
    }
  }

  @include mixins.desktop {
    min-height: 374px;
    padding: 47px 52px 55px 52px;
    display: grid;
    grid-template-columns: 100px auto;
    column-gap: 62px;

    &:nth-child(2) {
      padding-right: 52px;
    }
  }
}

.fit__image {
  background-color: variables.$basic-green;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  position: relative;
  flex-shrink: 0;

  @include mixins.mobile {
    width: 50px;
    margin-left: 2px;
  }

  @include mixins.tablet {
    width: 200px;
    position: absolute;
    right: 61px;
    top: 92px;
  }

  @include mixins.desktop {
    width: 100px;
    position: relative;
    right: auto;
    top: auto;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &--slim::before {
    background-image: url("../img/fit-cat-slim.svg");
    transform: translate(-50%, -58%) scale(0.98);
  }

  &--pro::before {
    background-image: url("../img/fit-cat-pro.svg");
    transform: translate(-51%, -51%) scale(1.34);
  }
}

.fit__title {
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;

  @include mixins.mobile {
    font-size: 24px;
    line-height: 37px;
    align-self: center;
  }

  @include mixins.tablet {
    font-size: 36px;
    line-height: 36px;
    align-self: flex-start;
  }

  @include mixins.desktop {
    align-self: center;
  }
}

.fit__paragraph {
  @include mixins.paragraph;
  grid-column: 1/-1;

  @include mixins.mobile {
    color: variables.$special-grey-dark;
    position: relative;
    margin-bottom: 38px;
    margin-top: 22px;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      width: 100%;
      height: 1px;
      bottom: -23px;
      background-color: variables.$special-grey2;
    }
  }

  @include mixins.tablet {
    margin-bottom: 48px;
    margin-top: 24px;
  }

  @include mixins.desktop {
    margin-bottom: 22px;
    margin-top: 40px;
  }
}

.fit__link {
  display: inline-flex;
  position: relative;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 4px 0;
  color: variables.$black;
  justify-self: start;
  transition: variables.$transition-all;
  margin-top: auto;
  grid-column: 1/-1;

  &::before {
    content: "";
    background-image: url("data:image/svg+xml;charset=UTF-8,<svg width='7' height='10' viewBox='0 0 7 10' fill='%23000' xmlns='http://www.w3.org/2000/svg'><polygon fill='%23000' points='0 0, 0 10, 7 5'/></svg>");
    background-repeat: no-repeat;
    background-size: contain;
    width: 7px;
    height: 10px;
    order: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: variables.$transition-all;
    right: 8px;
  }

  &::after {
    content: "";
    width: 18px;
    height: 2px;
    background-color: variables.$black;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: variables.$transition-all;
    right: 14px;
  }

  &:hover::after {
    width: 25px;
    right: 7px;
  }

  &:hover::before {
    right: 0;
  }

  &:active {
    opacity: 0.3;
  }

  @include mixins.mobile {
    font-size: 16px;
    line-height: 16px;
    padding-right: 49px;
  }

  @include mixins.tablet {
    font-size: 20px;
    line-height: 30px;
    padding-right: 60px;
  }
}
