@use "../../libs/variables.scss";
@use "../../libs/mixins.scss";

.introduction {
  position: relative;
}

.introduction__container {
  @include mixins.mobile {
    padding-top: 1px;
  }

  @include mixins.tablet {
    padding-top: 29px;
    padding-left: 117px;
  }

  @include mixins.desktop {
    padding-top: 223px;
    padding-left: 80px;
    padding-bottom: 185px;
  }
}
