@use "../../libs/variables.scss";
@use "../../libs/mixins.scss";

.introduction {
  position: relative;
  overflow-x: hidden;
  background-color: variables.$special-grey3;
}

.introduction__container {
  @include mixins.mobile {
    padding-top: 73px;
  }
}

.introduction__header {
  @include mixins.mobile {
    display: none;
  }
}

.introduction__title {
  @include mixins.header-1;
}

.introduction__list {
  @include mixins.mobile {
    margin: 0;
    margin-left: -(variables.$padding-container-mobile);
    margin-right: -(variables.$padding-container-mobile);
  }
}
