@use "../../libs/variables.scss";
@use "../../libs/mixins.scss";

.manufacturing {
  margin-top: 30px;
  margin-bottom: 58px;

  @include mixins.tablet {
    margin-top: 53px;
    margin-bottom: 64px;
  }

  @include mixins.desktop {
    margin-top: 57px;
    margin-bottom: 105px;
  }
}

.manufacturing__container {
  position: relative;
}

.aaa {
  &:hover {
    & .manufacturing__info-wrapper {
      box-shadow: 0 6px 10px rgba(variables.$black, 0.1);
    }
  }

  &:active {
    & .manufacturing__info-wrapper {
      box-shadow: 0 3px 5px rgba(variables.$black, 0.1);
    }
  }
}

.manufacturing__video {
  @include mixins.mobile {
    position: absolute;
    top: 95px;
    width: calc(100% - variables.$padding-container-mobile * 2);
    aspect-ratio: 26/15;
  }
}

.manufacturing__info-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid variables.$special-grey;

  @include mixins.mobile {
    padding: 20px 33px 32px;

    &::before {
      content: "";
      aspect-ratio: 26 / 15;
      display: block;
      margin: 0 -33px;
    }
  }

  @include mixins.tablet {
    padding: 40px 41px 45px;
  }

  @include mixins.desktop {
    padding: 40px 57px 60px 80px;
  }
}

.manufacturing__title {
  @include mixins.header-3;
  display: flex;
  align-items: center;
  order: -1;

  &::before {
    content: "";
    width: 33px;
    height: 22px;
    background-image: url("../img/camera.svg");
    background-repeat: no-repeat;
    background-size: contain;
    flex-shrink: 0;
  }

  @include mixins.mobile {
    gap: 25px;
    margin-bottom: 26px;
    max-width: 150px;
    min-height: 48px;
  }

  @include mixins.tablet {
    gap: 33px;
    align-items: baseline;
    margin-bottom: 25px;
  }

  @include mixins.desktop {
    flex-direction: column;
    align-items: flex-start;
    gap: 27px;
    margin-bottom: 27px;
  }
}

.manufacturing__paragraph {
  color: variables.$special-grey-dark;

  @include mixins.mobile {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 40px;
  }

  @include mixins.tablet {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 40px;
  }
}


.manufacturing__button {
  margin-top: auto;
}