@use "../../libs/variables.scss";
@use "../../libs/mixins.scss";

.map {
  position: relative;
}

.map__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.map__interactive {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  border: 0;
  z-index: 2;

  @include mixins.mobile {
    min-height: 454px;
    height: 454px;
  }

  @include mixins.tablet {
    min-height: 457px;
    height: 457px;
  }
}
