@use "../../libs/variables.scss";
@use "../../libs/mixins.scss";

.program {
  overflow-x: hidden;
}

.program__container {
  @include mixins.mobile {
    padding-top: 27px;
    padding-bottom: 32px;
  }

  @include mixins.tablet {
    padding-top: 30px;
    padding-bottom: 72px;
  }

  @include mixins.desktop {
    padding-top: 40px;
    padding-bottom: 82px;
  }
}

.program__title {
  @include mixins.header-2;

  @include mixins.mobile {
    line-height: 36px;
    margin-bottom: 37px;
  }

  @include mixins.tablet {
    margin-bottom: 54px;
    margin-left: 39px;
  }

  @include mixins.desktop {
    margin-bottom: 56px;
    margin-left: 0;
  }
}

.program__paragraph {
  text-transform: uppercase;

  @include mixins.mobile {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 39px;
    max-width: 226px;
  }

  @include mixins.tablet {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
    max-width: 323px;
    margin-left: 40px;
  }

  @include mixins.desktop {
    margin-left: 0;
  }
}
