@use "../../libs/variables.scss";
@use "../../libs/mixins.scss";

.copyright__link {
  font-family: "Arial", sans-serif;
  color: variables.$special-grey-dark;
  text-decoration: none;
  transition: variables.$transition-all;
  font-size: 16px;
  line-height: 18px;

  @include mixins.mobile {
    display: flex;
    align-items: center;
  }

  &:active {
    opacity: 0.3;
  }

  &:hover .copyright__link-icon,
  &:active .copyright__link-icon {
    color: variables.$basic-green;
  }
}

.copyright__link-icon {
  vertical-align: middle;
  color: variables.$special-grey-medium;
  flex-shrink: 0;

  @include mixins.mobile {
    margin-left: auto;
  }

  @include mixins.tablet {
    margin-left: 19px;
  }
}
